<!-- GLOBAL BRANDS--->
<div id="brands">
  <div class="container">
    <h1 class="wow fadeInUp"><span class="mustard-text">1000+ Global Brands</span><span class="black-text"> run on our
        SaaS-based <span class="mustard-text">Verifiable</span> Certificate Maker</span></h1>
  </div>
</div>
<div class="brand-images wow fadeInUp mobile-hide">
  <div class="row">
    
    <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4">
      <img src="images/brand-logo/Ted.png" alt="Digital certificate maker for TED" class="img-fluid">
    </div>
   
    <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4">
      <img src="images/brand-logo/ieee 1.png" alt="Free Digital certificate maker for IEEE" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-4">
      <img src="images/brand-logo/hurun.png" alt="Digital certificate maker platform for Hurun" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-4">
      <img src="images/brand-logo/paytm.png"  alt="Digital certificate maker and generator for paytm" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/LEB.jpeg"  alt="Digital certificate maker tool for London Examination Board" class="img-fluid">
    </div>
    
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/project-magt.png" alt="Digital certificate maker software for PMI" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images\brand-logo\tie 1.png" alt=" Diplomae certificate maker for TIE" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/wa 1.png"  alt="Digital Certifications and Badges Client " class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="images/brand-logo/ET.png"  alt="Digital Credentials and Badges Clients paytm" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/dc.png"  alt="Linkedin sharable certificate maker" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/IITG-logo.jpeg" alt=" Verifiable Digital certificate maker paytm" class="img-fluid">
    </div>
  </div>
</div>
<div class ="container mobile-hide ">
<p class="section-paragraph" style="text-align: center;">Our clientele includes educational institutions, training firms, L & D teams, event marketers, and HR departments. They use our platform to award verifiable and sharable digital Certificates and Badges to their learners and employees.
 
  </p></div>
</div>
<!-- GLOBAL BRANDS END-->
