<div class="background-set">
  <!---- INTRO SECTION-->

  <div class="container " id="intro">
    <h1 class="white-text"> Verifiable Certificate Maker </span>></h1>
        <h4 class="wow fadeInUp">  CertifyMe enables institutions to create verifiable certificates with certifyMe's advanced digital certificate maker.</h4>
  
    <!---  <h6 class="wow fadeInUp" style="color:white; text-align: center ; margin-top: 5px;">CertifyMe helps Course Providers, Professional Trainers, Event Marketers, HR professionals and Community Coordinators to award verifiable Certificates with couple of clicks.</h6> --->
    <a target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
      <button type="button" class="demo-btn wow fadeInUp">Schedule A Demo</button></a>
  </div>
  <!--- INTRO ENDS --->
  <!-- CERTIFICATE AREA -->
  <div class="certificate wow fadeInUp">
    <video style="max-width: 400px;
  height: auto; margin-bottom :20px" controls poster="/images/cme2.png"
      alt="Top digital Certificate maker">
      <source src="https://certifyme.online/img/CmeVedioS.mp4" type="video/mp4"
        alt="free Digital certificate generator">
      <img src="images/videoplay.png" class="img-responsive" alt="video-button"
        alt="CertifyMe is ranked as a high performer in G2 Grid for Enterprise Digital certificate maker.">
    </video>



  </div>
  <!-- CERTIFICATE AREA END -->
</div>
<!-- BACKGROUND IMAGE END --->
